.logo {
	position: relative;
}

.logo img {
	position: absolute;	
	z-index:-1;
	top: 0;
	

}



body {

background-image: linear-gradient(right , rgb(250,47,47) 3%, rgb(255,199,199) 49%, rgb(252,252,252) 85%);
background-image: -o-linear-gradient(right , rgb(250,47,47) 3%, rgb(255,199,199) 49%, rgb(252,252,252) 85%);
background-image: -moz-linear-gradient(right , rgb(250,47,47) 3%, rgb(255,199,199) 49%, rgb(252,252,252) 85%);
background-image: -webkit-linear-gradient(right , rgb(250,47,47) 3%, rgb(255,199,199) 49%, rgb(252,252,252) 85%);
background-image: -ms-linear-gradient(right , rgb(250,47,47) 3%, rgb(255,199,199) 49%, rgb(252,252,252) 85%);

background-image: -webkit-gradient(
	linear,
	right top,
	left top,
	color-stop(0.03, rgb(250,47,47)),
	color-stop(0.49, rgb(255,199,199)),
	color-stop(0.85, rgb(252,252,252))
);

margin: 0;
padding: 0;

}


/* START NAV MENU */
nav {
  height:40px;
  text-align:center;
  list-style:none;
  margin:0;

  border-bottom: dotted;
  float: left;
}
 
nav li {
	display:inline;
} 

nav ul {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 25px;
  padding: 0;
  display:inline;
}
 
nav ul li {
  
  display:inline;
}
 
nav li ul { 
  display:inline-block; 
}
 
nav ul li a {
  display:inline-block;
  text-decoration: none;
  padding: 0px 15px 0px 15px;
  color: #6B6B6B;  
  white-space: nowrap;
  text-align:center;
 
}
 
nav ul li a:hover { 
  color: #000000; 
}
/* END NAV MENU */

#bodycontainer {
 margin: 30px 50px 0 50px;
}

footer {
	background-color: #3B3B3B;
	float: left;
	min-width:100%;
	position: absolute;
	margin: 0;
	padding: 0;
}


h1 {
	font-size:40px;
}

h3 {

}

p {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	color:#000000;
	font-size: 85%;
}


#outer_2 {
	position: relative;

	height: 238px;
	clear: both;
	overflow:hidden;

    width: 100%;

}

#main_table {

	width: 100%;
	height: 100%;
}

#main_table tr {


}

#main_table td {

	
}


#signup_link_div {
	width: 190px;
}


#second_link_div {

}




#form_container {
	padding: 15px;
	background-color: #8B0000;
	box-shadow: 10px 10px 5px #888888;


	width: 250px;

	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

}

#sign_container {

}


#main_content {
	padding: 8px 0px 30px 0px;
	clear: both;
}

table {
	align: center;
}

td {
	
}

label {

}



.join_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b06365), color-stop(1, #8f2727) );
	background:-moz-linear-gradient( center top, #b06365 5%, #8f2727 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b06365', endColorstr='#8f2727');
	background-color:#b06365;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}.join_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8f2727), color-stop(1, #b06365) );
	background:-moz-linear-gradient( center top, #8f2727 5%, #b06365 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8f2727', endColorstr='#b06365');
	background-color:#8f2727;
}.join_button:active {
	position:relative;
	top:1px;
}

#jl_info {
	float: right;
	font-size: 10px;
}

#footer_social {
	margin:0 auto;
	width: 200px;
	padding-top: 10px;
	padding-bottom: 5px;
}







/* The image slideshow */

#slideshow{
    background-color:#F5F5F5;
    border:1px solid #FFFFFF;
    
    position: relative;
    width:400px;
    height:200px;

    padding: 1px 0px 0px 1px;

    -moz-box-shadow:0 0 22px #111;
    -webkit-box-shadow:0 0 22px #111;
    box-shadow:0 0 22px #111;
}

#slideshow ul{
    height:200px;

    list-style:none outside none;
    overflow:hidden;
    position:absolute;

    right: 0px;
    bottom: -16px;


    width:400px;
}

#slideshow li{


    position:absolute;
    display:none;
    z-index:10;
}

#slideshow li:first-child{
    display:block;
    z-index:1000;
}

#slideshow .slideActive{
    z-index:1000;
}

#slideshow canvas{
    display:none;
    position:absolute;
    z-index:100;
}

#slideshow .arrow{
    height:86px;
    width:60px;
    position:absolute;
    background:url('slideshow/arrows.png') no-repeat;
    top:50%;
    margin-top:-43px;
    cursor:pointer;
    z-index:5000;
}

#slideshow .previous{ background-position:left top;left:0;}
#slideshow .previous:hover{ background-position:left bottom;}

#slideshow .next{ background-position:right top;right:0;}
#slideshow .next:hover{ background-position:right bottom;}


